# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# PyCharm / JetBrains workspace files
.idea/
*.iml

# macOS system files
.DS_Store
.DS_Store?
._*

# Logs
*.log

# Cache
*.json